[submodule "model/core"]
	path = model/core
	url = https://gitlab.bayer.com/aqrisk-landscape/landscapemodel-core.git
[submodule "scenario/schematic-100x100"]
	path = scenario/schematic-100x100
	url = https://gitlab.bayer.com/aqrisk-landscape/scenario-schematic-100x100.git
[submodule "model/variant/AnalysisObserver"]
	path = model/variant/AnalysisObserver
	url = https://gitlab.bayer.com/aqrisk-landscape/analysisobserver.git
[submodule "model/variant/RunOffPrzm"]
	path = model/variant/RunOffPrzm
	url = https://gitlab.bayer.com/aqrisk-landscape/runoffprzm-component.git
[submodule "model/variant/XSprayDrift"]
	path = model/variant/XSprayDrift
	url = https://gitlab.bayer.com/aqrisk-landscape/xspraydrift-component.git
